body {
  background: #fff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.8em;
}

@link: #7e2a2a;
@lighter_link: lighten(@link, 10%);
@darker_link: darken(@link, 10%);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sintony";
  font-weight: 400;
  text-transform: lowercase;
}

a,
a:link,
a:active,
a:focus,
a:visited {
  color: @link;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: @lighter_link;
  }
}

button,
.button,
a.button,
input[type='submit'] {
  border-radius: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


#masthead {
  text-align: center;
  padding: 20% 0;
  background: url(/img/header-bg.jpg) bottom center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  h1 {
    color: #fff;
    text-transform: lowercase;
    background: rgba(0,0,0,0.8);
    font-size: 4.2rem;
    line-height: 1;
    padding: 15px 0;
  }
  p {
    color: #fff;
    font-style: italic;
  }
}

#description {
  background: #000;
  color: #f0f0f0;
  text-align: center;
  padding: 60px 0 20px;
  margin: 0 0 100px;
  p {
    font-size: 2.5rem;
    margin: 0 0 40px;
  }
  .button {
    background: @link;
    color: #fff;
    font-size: 1.5rem;
    height: auto;
    line-height: 1;
    padding: 20px 30px;
    border: 0;
    &:hover {
      background: @lighter_link;
    }
  }
}

#messages {
  #messages_header {
    margin: 0 0 80px;
  }
  #messages_filters {
    text-align: center;
    margin: 0 0 60px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      background: #ddd;
    }
    a {
      position: relative;
      z-index: 1;
      display: inline-block;
      padding: 15px 20px;
      line-height: 1;
      background: #fff;
      &:hover {
        background: @lighter_link;
        color: #fff;
      }
      &.active {
        background: @link;
        color: #fff;
      }
    }
  }
}

article.message {
  margin: 0 0 20px;
  .message-content {
    border: 1px solid #eee;
    padding: 5%;
    margin: 0;
  }
  &.image,
  &.audio,
  &.video {
    .message-content {
      padding: 0 !important;
      border: 0;
    }
  }
  video,
  img,
  audio {
    width: 100%;
    height: auto;
  }
  img {
    display: block;
  }
  .meta {
    padding: 5px 0;
    text-transform: lowercase;
    .author {
      text-transform: none;
    }
    p {
      margin: 0;
      font-size: .8em;
      color: #666;
    }
  }
}

.timeline {
  position: relative;
  margin: 0;
  header {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: 0 0 60px;
    h2 {
      display: inline-block;
      background: #000;
      font-size: 1.2em;
      line-height: 1;
      padding: 15px;
      color: #f0f0f0;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: #ddd;
    z-index: 2;
  }
  .left-col,
  .right-col {
    width: 50%;
    box-sizing: border-box;
  }
  .left-col {
    float: left;
    padding-right: 2.5%;
    .timeline-item {
      .message-content {
        padding-left: 10%;
        border-left: 0;
      }
      footer {
        text-align: right;
      }
      &.video,
      &.audio,
      &.image {
        .message-content {
          margin-left: 5%;
          background: transparent !important;
        }
      }
      &:before {
        right: -5%;
      }
    }
  }
  .right-col {
    float: right;
    padding-left: 2.5%;
    padding-top: 10%;
    .timeline-item {
      .message-content {
        padding-right: 10%;
        border-right: 0;
      }
      &.video,
      &.audio,
      &.image {
        .message-content {
          margin-right: 5%;
        }
      }
      &:before {
        left: -5%;
      }
    }
  }
  .timeline-item {
    margin-bottom: 10%;
    position: relative;
    &.video,
    &.audio,
    &.image {
      .message-content {
        background: transparent !important;
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 5%;
      top: 50%;
      height: 1px;
      background: #eee;
    }
  }
}
