body {
  background: #fff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.6em;
}

@link: #7e2a2a;
@lighter_link: lighten(@link, 10%);
@darker_link: darken(@link, 10%);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sintony";
  font-weight: 400;
  text-transform: lowercase;
}

h3 {
  font-size: 2.8rem;
}

p.big {
  font-size: 1.4em;
  margin: 5rem 0 6rem;
}

.fluid-width-video-wrapper,
iframe {
  margin-bottom: 6rem;
}

a,
a:link,
a:active,
a:focus,
a:visited {
  color: @link;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: @lighter_link;
  }
}

input[type=text],
input[type=password],
input[type=email],
textarea {
  border: 1px solid #ddd;
  border-radius: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: .8em;
}


button,
.button,
a.button,
input[type='submit'] {
  border-radius: 0;
  white-space: normal;
  background: @link;
  color: #fff;
  border-radius: 0;
  border: 0;
  &:focus,
  &:hover {
    background: @lighter_link;
    color: #fff;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


#masthead {
  text-align: center;
  padding: 15% 0 15%;
  background: url(/img/header-bg3.jpg) bottom center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  transition: all .2s linear;
  &.collapsed {
    padding: 0;
    min-height: 0;
    #auth_nav {
      a {
        background: transparent;
        color: #fff;
      }
    }
  }
  h1 {
    color: #fff;
    text-transform: lowercase;
    background: rgba(0,0,0,0.8);
    font-size: 3.6rem;
    line-height: 1;
    padding: 20px 0;
    margin: 0;
    a {
      color: inherit;
    }
  }
  p {
    margin: 0;
    padding: 20px 0;
    background: rgba(0,0,0,.4);
    color: #fff;
    font-style: italic;
    font-weight: 400;
  }
  #auth_nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: .8em;
    text-transform: lowercase;
    a {
      background: #000;
      color: #fff;
      padding: 5px;
    }
  }
  .contribute {
    margin-top: 8%;
  }
}

.inner-content {
  padding: 60px 0;
  margin-bottom: 60px;
  border-bottom: 1px solid #ddd;
  img {
    display: block;
    margin: 5rem 0 6rem;
  }
}

#team {
  h2 {
    font-size: 2rem;
    background: #000;
    color: #fff;
    padding: 10px;
    line-height: 1;
  }
  .team-group {
    border-bottom: 1px solid #ddd;
    margin-bottom: 3rem;
    padding: 3rem 0;
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
  .three.columns {
    text-align: right;
  }
}

#description {
  background: #000;
  color: #f0f0f0;
  text-align: center;
  padding: 60px 0 20px;
  margin: 0 0 60px;
  p {
    font-size: 2.4rem;
    margin: 0 0 40px;
  }
  .button {
    background: @link;
    color: #fff;
    font-size: 1.2rem;
    height: auto;
    line-height: 1.5;
    padding: 18px 30px;
    border: 0;
    &:hover {
      background: @lighter_link;
    }
  }
}

#messages {
  #messages_header {
    margin: 0 0 50px;
  }
  #messages_filters {
    text-align: center;
    margin: 0 0 60px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      background: #ddd;
    }
    a {
      position: relative;
      z-index: 1;
      display: inline-block;
      padding: 15px 20px;
      line-height: 1;
      background: #fff;
      border: 1px solid #eee;
      margin: 0 5px;
      &:hover {
        background: @lighter_link;
        color: #fff;
      }
      &.active {
        background: @link;
        color: #fff;
      }
    }
  }
  .no-message {
    font-size: 1.2em;
    color: #666;
    font-style: italic;
    text-align: center;
    margin-bottom: 60px;
  }
}

article.message {
  margin: 0 0 20px;
  position: relative;
  &.private {
    .message-content {
      opacity: .5;
    }
  }
  .message-content {
    border: 1px solid #eee;
    padding: 5%;
    margin: 0;
  }
  .desc {
    font-size: .9em;
    font-weight: 600;
    margin: 0 0 2rem;
    text-align: center;
  }
  &.image,
  &.map,
  &.video {
    .message-content {
      padding: 0 !important;
      border: 0;
    }
  }
  video,
  img,
  audio {
    width: 100%;
    height: auto;
  }
  .angular-google-map {
    width: 100%;
    height: 300px;
    .angular-google-map-container {
      width: 100%;
      height: 100%;
    }
  }
  img {
    display: block;
  }
  .meta {
    display: block;
    margin: 0 auto;
    width: 60%;
    text-align: center !important;
    padding: 15px 15px;
    background: #f6f6f6;
    font-style: italic;
    text-transform: lowercase;
    .author {
      text-transform: none;
    }
    p {
      margin: 0;
      font-size: .9em;
      color: #666;
    }
  }
  .privacy-box {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    right: 0;
    margin: -50px 20% 0;
    border: 3px solid @lighter_link;
    box-shadow: 0 0 40px 10px rgba(0,0,0,0.17);
    opacity: .8;
    transition: all .2s linear;
    &:hover {
      opacity: 1;
    }
    .privacy-settings {
      text-align: center;
      background: #fff;
      padding: 20px;
      text-transform: lowercase;
      font-size: .8em;
      p {
        margin: 0;
      }
    }
  }
}

article.message.audio {
  .message-content {
    text-align: center;
    color: #444;
  }
}

.video-container {
  position: relative;
  video {
    display: block;
  }
  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.5);
    transition: opacity .2s linear;
    &.playing {
      pointer-events: none;
      opacity: 0;
    }
  }
  &:hover {
    .video-player {
      pointer-events: auto !important;
      opacity: 1 !important;
    }
  }
  .play-pause {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
    z-index: 100;
  }
  .progress {
    width: 100%;
    height: 2px;
    margin-top: 1px;
    .progress-bar {
      background: @link;
      width: 0;
      height: 100%;
      transition: width .5s ease-in-out;
    }
  }
}

.audio-player {
  text-align: center;
  .play-pause {
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid #eee;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 20px;
  }
  .time {
    font-size: .8em;
    color: #666;
    margin: 0;
  }
}

.timeline {
  position: relative;
  margin: 0;
  header {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: 0 0 60px;
    h2 {
      display: inline-block;
      background: #000;
      font-size: 1.2em;
      line-height: 1;
      padding: 15px;
      color: #f0f0f0;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: #ddd;
    z-index: 2;
  }
  .left-col,
  .right-col {
    width: 50%;
    box-sizing: border-box;
  }
  .left-col {
    float: left;
    padding-right: 2.5%;
    .timeline-item {
      .message-content {
        padding-left: 10%;
        border-left: 0;
      }
      footer {
        text-align: right;
      }
      &.map,
      &.video,
      &.image {
        .message-content {
          margin-left: 5%;
          background: transparent !important;
        }
      }
      &:before {
        right: -5%;
      }
    }
  }
  .right-col {
    float: right;
    padding-left: 2.5%;
    padding-top: 10%;
    .timeline-item {
      .message-content {
        padding-right: 10%;
        border-right: 0;
      }
      &.map,
      &.video,
      &.image {
        .message-content {
          margin-right: 5%;
        }
      }
      &:before {
        left: -5%;
      }
    }
  }
  .timeline-item {
    margin-bottom: 10%;
    position: relative;
    &.video,
    &.audio,
    &.image {
      .message-content {
        background: transparent !important;
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 5%;
      top: 50%;
      height: 1px;
      background: #eee;
    }
  }
}

#auth_form {
  input {
    display: block;
    width: 100%;
  }
}

#colophon {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 100px 0;
  text-align: center;
  text-transform: lowercase;
  a {
    color: @lighter_link;
  }
  .license {
    img {
      margin-top: 10px;
      margin-bottom: 9px;
    }
  }
}

@media (max-width: 660px) {
  #messages_filters {
    display: none;
  }
}

@media (max-width: 900px) {
  #masthead {
    padding: 20% 0;
    #auth_nav {
      display: none;
      padding: 0;
      font-size: .6em;
    }
  }
  .inner-content {
    padding: 60px 0;
  }
  .right-col {
    display: none;
  }
  .left-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    background: #fff;
    position: relative;
    z-index: 2;
    article {
      &:before {
        display: none !important;
      }
    }
    .message-content {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    article.message {
       .message-content {
        border: 1px solid #eee;
      }
      .meta {
        width: auto !important;
      }
    }
  }
}
