body {
  background: #f9f9f9;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

#masthead {
  text-align: center;
  padding: 230px 0;
  background: #333;
  margin: 0 0 60px;
  h1 {
    color: #fff;
    text-transform: lowercase;
  }
}

.container {
  max-width: 1280px;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

article.message {
  border: 1px solid #eee;
  padding: 5%;
  margin: 0 0 20px;
  &.image,
  &.video {
    padding: 0 !important;
    margin-left: 5%;
    border: 0;
    background: transparent !important;
  }
  video,
  img,
  audio {
    width: 100%;
    height: auto;
  }
  .meta {
    p {
      margin: 0;
      font-size: .8em;
      color: #999;
    }
  }
}

.timeline {
  position: relative;
  margin: 0;
  header {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: 0 0 60px;
    h2 {
      display: inline-block;
      background: #333;
      font-size: 2.5em;
      line-height: 1;
      padding: 10px;
      color: #f0f0f0;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: #eee;
    z-index: 2;
  }
  .left-col,
  .right-col {
    width: 50%;
    box-sizing: border-box;
  }
  .left-col {
    float: left;
    padding-right: 5%;
    .timeline-item {
      padding-left: 10%;
      &:before {
        right: -10%;
      }
    }
  }
  .right-col {
    float: right;
    padding-left: 5%;
    padding-top: 10%;
    .timeline-item {
      padding-right: 10%;
      &:before {
        left: -10%;
      }
    }
  }
  .timeline-item {
    margin-bottom: 10%;
    position: relative;
    background: #fff;
    &:before {
      content: '';
      position: absolute;
      width: 10%;
      top: 50%;
      height: 1px;
      background: #eee;
    }
  }
}
