<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Rastro de Lama</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">

    <meta name="description" content="Documentário sobre as transformações na vida de dois jovens que vivem na área atingida pelo maior crime socioambiental do Brasil. Acompanhe o Diário de Bordo da equipe e dos personagens durante as gravações." />
    <meta name="keywords" content="mariana,bento rodrigues,samarco,desastre,tragédia ambiental,lama,lama tóxica,documentário" />
    <meta property="og:image" content="http://www.rastrodelama.com.br/img/header-bg2.jpg" />
    <meta property="og:title" content="Rastro de Lama" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.rastrodelama.com.br/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Sintony:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/components/ng-dialog/css/ngDialog.min.css" />
    <link rel="stylesheet" href="/components/ng-dialog/css/ngDialog-theme-default.min.css" />
    <link rel="stylesheet" href="/components/skeleton/css/normalize.css" />
    <link rel="stylesheet" href="/components/skeleton/css/skeleton.css" />
    <link rel="stylesheet" href="/styles/main.css?v=0.5" />
  </head>
  <body ng-controller="SiteCtrl">

    <header id="masthead" ng-class="{collapsed: !isHome}">
      <nav id="auth_nav">
        <a ui-sref="login" ng-hide="user">Login</a>
        <a href="javascript:void(0);" ng-click="authObj.$unauth()" ng-show="user">Sair</a>
      </nav>
      <h1>
        <a ui-sref="home">Rastro de Lama</a>
      </h1>
      <p>Um documentário de Aline Lata e Helena Wolfenson</p>
    </header>

    <div ui-view autoscroll="false">
      <section id="description">
        <div class="container">
          <div class="eight columns offset-by-two">
            <p>Documentário sobre as transformações na vida de dois jovens que vivem na área atingida pelo maior crime socioambiental do Brasil.</p>
            <p>
              <a class="button" ui-sref="doc">Saiba mais sobre o documentário</a>
              <a class="button" ui-sref="team">Conheça a equipe</a>
            </p>
          </div>
        </div>
      </section>
    </div>

    <section id="messages" ng-controller="MessagesCtrl">
      <div class="container">
        <div class="six columns">
          <header id="messages_header">
            <h2>Diário de bordo</h2>
            <p>Acompanhe o diário de bordo da equipe e dos personagens durante as gravações.</p>
          </header>
        </div>
      </div>
      <nav id="messages_filters">
        <a href="javascript:void(0);" ng-click="selectTeam('')" ng-class="{active:!team}">todas as publicações</a>
        <a href="javascript:void(0);" ng-click="selectTeam('core')" ng-class="{active:team=='core'}">equipe de produção</a>
        <a href="javascript:void(0);" ng-click="selectTeam('guests')" ng-class="{active:team=='guests'}">moradores</a>
      </nav>
      <timeline ng-show="filteredMessages.length" items="filteredMessages = (messages | byTeam:team)" date-param="'date'"></timeline>
      <p ng-hide="filteredMessages.length" class="no-message">Nenhuma atividade foi publicada, ainda!</p>
    </section>

    <footer id="colophon">
      <div class="container">
        <div class="four columns">
          <a rel="external" target="_blank" href="http://codigourbano.org/">
            <img src="http://codigourbano.org/wp-content/uploads/2015/02/codigourbano.png" alt="Código Urbano" />
          </a>
          <p>Este site foi desenvolvido em parceria com Código Urbano</p>
        </div>
        <div class="seven columns offset-by-one">
          <div class="license">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">O Diário de Bordo do documentário Rastro de Lama</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.rastrodelama.com.br" property="cc:attributionName" rel="cc:attributionURL">http://www.rastrodelama.com.br</a> está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons - Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional</a>.
          </div>
        </div>
      </div>
    </footer>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "UA-75887558-1"]);
      _gaq.push(['_setDomainName', 'www.rastrodelama.com.br']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      (function() {
        fbDatabase = "<%= fbDatabase %>";
      })();
    </script>
    <%- js('dist.js') %>
  </body>
</html>
