<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Rastro de Lama</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Sintony:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/skeleton/css/normalize.css" />
    <link rel="stylesheet" href="/assets/skeleton/css/skeleton.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body ng-controller="SiteCtrl">

    <header id="masthead" ng-class="{collapsed: !isHome}">
      <nav id="auth_nav">
        <a ui-sref="login" ng-hide="user">Login</a>
        <a href="javascript:void(0);" ng-click="authObj.$unauth()" ng-show="user">Sair</a>
      </nav>
      <h1>
        <a ui-sref="home">Rastro de Lama</a>
      </h1>
      <p>Um documentário de Aline Lata e Helena Wolfenson</p>
    </header>

    <div ui-view autoscroll="false"></div>

    <section id="description">
      <div class="container">
        <div class="eight columns offset-by-two">
          <p>Não deixe que a história de pessoas que viveram a maior tragédia ambiental do Brasil seja esquecida</p>
          <p><a class="button">Saiba mais sobre o documentário</a></p>
        </div>
      </div>
    </section>

    <section id="messages" ng-controller="MessagesCtrl">
      <div class="container">
        <div class="six columns">
          <header id="messages_header">
            <h2>Diário de bordo</h2>
            <p>Acompanhe em tempo real as atualizações da equipe de produção e de Marlon e Ricardo, moradores de Bento Rodrigues.</p>
          </header>
        </div>
      </div>
      <nav id="messages_filters">
        <a class="active">todas as publicações</a>
        <a>equipe de produção</a>
        <a>moradores</a>
      </nav>
      <timeline ng-show="messages.length" items="messages" date-param="'date'"></timeline>
      <p ng-hide="messages.length" class="no-message">Nenhuma atividade foi publicada, ainda!</p>
    </section>

    <footer id="colophon">
    </footer>

    <!-- ASSETS -->
    <script type="text/javascript" src="/assets/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/assets/moment/locale/pt-br.js"></script>
    <script type="text/javascript" src="/assets/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="/assets/moment/min/locales.min.js"></script>
    <script type="text/javascript" src="/assets/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/assets/lodash/dist/lodash.min.js"></script>

    <script type="text/javascript" src="/assets/firebase/firebase.js"></script>

    <script type="text/javascript" src="/assets/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/assets/angularfire/dist/angularfire.min.js"></script>
    <script type="text/javascript" src="/assets/angular-media-player/dist/angular-media-player.min.js"></script>
    <script type="text/javascript" src="/assets/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script type="text/javascript" src="/assets/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <!-- -->

    <!-- APP -->
    <script type="text/javascript">
      (function() {
        fbDatabase = "<%= fbDatabase %>";
      })();
    </script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/filters.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <!-- -->
  </body>
</html>
