<article class="message {{data.type}}" ng-class="{private: !data.public}">
  <div class="privacy-box" ng-show="user && !data.public">
    <div class="privacy-settings">
      <p>Esta publicação está pendente</p>
      <a ng-click="setPublic(data)" href="javascript:void(0);">clique aqui para torná-la pública</a>, ou <a ng-click="remove(data)" href="javascript:void(0);">aqui para removê-la</a>.
    </div>
  </div>
  <div class="message-content">
    <div ng-include="getTemplateUrl()"></div>
    <section class="share">
      <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{getUrl()}}" target="_blank" class="fa fa-facebook"></a>
      <a href="https://twitter.com/home?status={{getUrl()}}" target="_blank" class="fa fa-twitter"></a>
      <a ui-sref="message({id: data.message_id})" class="fa fa-link"></a>
    </section>
  </div>
  <footer class="meta">
    <p>
      <a ui-sref="message({id: data.message_id})">Enviado
      <span class="time full" ng-show="isFull()">{{(data.date*1000) | formatDate:'LLL'}}</span><span class="time hour" ng-show="!isToday(data) && !isFull()">às {{(data.date*1000) | formatDate:'HH:mm'}}</span><span class="time fromnow" ng-show="isToday(data) && !isFull()"> {{(data.date*1000) | fromNow}}</span></a>,
      por <span class="author">{{data.from.first_name}} {{data.from.last_name}}</span>
    </p>
    <p ng-show="user && data.public">
      <a ng-click="setPrivate(data)" href="javascript:void(0);">Tornar privado</a> &middot;
      <a ng-click="remove(data)" href="javascript:void(0);">Remover</a>
    </p>
  </footer>
</article>
