<article class="message {{data.type}}" ng-class="{private: !data.public}">
  <div class="privacy-box" ng-show="user && !data.public">
    <div class="privacy-settings">
      <p>Esta publicação está pendente</p>
      <a ng-click="setPublic(data)" href="javascript:void(0);">clique aqui para torná-la pública</a>
    </div>
  </div>
  <div class="message-content">
    <div ng-include="getTemplateUrl()"></div>
  </div>
  <footer class="meta">
    <p>Enviado
      <span class="time hour" ng-hide="isToday(data)"> às {{(data.date*1000) | formatDate:'HH:mm'}},</span>
      <span class="time fromnow" ng-show="isToday(data)"> {{(data.date*1000) | fromNow}},</span> por <span class="author">{{data.from.first_name}} {{data.from.last_name}}</span>
    </p>
    <p ng-show="user && data.public"><a ng-click="setPrivate(data)" href="javascript:void(0);">Tornar privado</a></p>
  </footer>
</article>
